.navbar {
    background-color:darkolivegreen;
    height: 10%;
    width: 100%;
    border-radius: 5px;
    border-color: black;
    border: 10px;
    display: flex;
    gap: 30px;
}
.button {
    width: fit-content;
}